<div class="lg:hidden bg-white border-t">
    <div class="container-custom py-4 space-y-3 text-[14px] font-medium text-[#2C2C2C]">
        <a href="pages/nha-dat-ban.html" class="block nav-link">Nhà đất bán</a>
        <a href="pages/nha-dat-cho-thue.html" class="block nav-link">Nhà đất cho thuê</a>
        <a href="pages/du-an.html" class="block nav-link">Dự án</a>
        <a href="pages/tin-tuc.html" class="block nav-link">Tin tức</a>
        <a href="pages/gia-nha-dat.html" class="block nav-link">Giá nhà đất</a>
        <a href="pages/xay-dung.html" class="block nav-link">Xây dựng</a>
        <a href="pages/danh-ba-doanh-nghiep.html" class="block nav-link">Danh bạ doanh nghiệp</a>
        <a href="pages/danh-ba-moi-gioi.html" class="block nav-link">Danh bạ môi giới</a>
        <a href="auth/dang-nhap.html" class="block nav-link">Đăng nhập</a>
        <a href="auth/dang-ky.html" class="block nav-link">Đăng ký</a>
        <a href="user/dang-tin.html" class="block text-center border border-[#008B8B] text-[#008B8B] px-4 py-2 rounded-lg font-bold hover:bg-[#008B8B] hover:text-white transition uppercase text-[13px]">Đăng tin</a>
    </div>
</div>
